html, body
{


font-size: 20px;
margin: 0;
padding: 0;
text-decoration: none;
height: 100%;

}

#strona
{

display: block;
position: relative;
overflow: hidden;

}
div
{
    display: block;
}

#top-nav
{

 z-index: 40 !important;
 display: flex;
 background-color: rgb(27, 78, 107);
 height: 70px;

}

 ul.navtop

 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(27, 78, 107);
   margin-left: 10rem;
   margin-top: 1rem;
    
    
    }
    
 ul.navtop li
 {
     float: left;

 }

ul.navtop li a
  {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }

img.logo

{

margin-left: 20rem;
height: 100px;
margin-top: 1rem;

 }

 .search-box
   {

    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: 0.4rem;
    margin-left: 15rem;

  }

  .input-search
  
  {

    height: 30px;
    width: 30px;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 100px;
    transition: all .5s ease-in-out;
    background-color: rgb(27, 78, 107);
    padding-right: 40px;
    color:#fff;

  }
 
  .btn-search

  {

    width: 50px;
    height: 50px;
    border-style: none;
    outline: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  

  }

  .btn-search:focus ~ .input-search
  {

    width: 150px;
    border-radius: 50px;
    background-color: rgb(10, 32, 44);
    border:1px solid rgba(255,255,255,.5);
    transition: all 500ms ;

  }

  .input-search:focus

  {

    width: 150px;
    border-radius: 50px;
    background-color: rgb(10, 32, 44);
    border: 1px solid rgba(255,255,255,.5);
    transition: all 500ms ;

  }

   .navleft

   {

    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: white;
    transition: all .5s ease;

  }

   


ul.leftnav

{

 list-style: none;
 display: list-item;
 padding: 20px;

}

.leftnav li a

{

text-decoration: none;


}

.sociale

{

padding: 20px;

}

.arrow2 

{

    width: 0;
    height: 0;
    margin: 0 ;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(21, 35, 155);
    
}

.arrow1 
{

    width: 0;
    height: 0;
    margin: 0 ;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(21, 35, 155);
    
 }

#check

{

display: none;

}

label #rozwin

{

float: left;

}

label #zwin

{

    opacity: 0;
    visibility: hidden;

 }
#check:checked ~ .navleft

{

    left: 0;

}

#check:checked ~ label #rozwin

{

    margin-left: 245px;
    opacity: 0;
    visibility: hidden;

}

  #check:checked ~ label #zwin
  
{

    margin-left: 245px;
    opacity: 1;
    visibility: visible;

}
  
.main
{

position: relative;
background-color: white;
float: right;
width: 60%;
margin-top: 2rem;
padding: 0;
margin-right: 15rem;

}
 
.headname

{

text-align: center;

}

.container1

{

    margin: 5px;
	margin-top: 5px;
    width: 39%;
    background-color: white;
	float: left;
	font-size: 10pt;
    padding: 5%;
    word-wrap: break-word;
}

.container2

{

    margin: 5px;
	margin-top: 5px;
    width: 39%;
    background-color: 	white;
	float: right;
	font-size: 10pt;
    padding: 5%; 
	word-wrap: break-word;

}

p

{

line-height: 15px;

}

 footer
{

background-color: rgb(27, 78, 107);
clear: both;
height: 60px;

}